{% extends "_templates/home_base.twig" %}
{% block title %}
    Fun stories
{% endblock %}
{% block content %}
    <div class="main-content clearfix">
        <div class="tile-area no-padding clearfix">
            {% if userLogged %}
            {{ include("_templates/addMessage.twig") }}
            {% endif %}
            <div id="newStory"></div>
            <div class="tile double quadro-vertical ol-transparent box-shadow"
                 style="float: right; cursor: default; background: #ececf0;">
                <div>
                    <div class="bg-lighterBlue"
                         style="font-size: 17px; color: #ffffff; border: 2px solid #00356a; text-align: center; margin-top: 5px; padding: 3px;">
                        <i class="icon-share-3 on-left fg-white"></i>BLOG
                    </div>
                    <div id="new-entries" style="height: 420px; overflow: auto">
                        <div class="loading-element"><img src="{{ constant('URL') }}public/img/loading.gif">
                        </div>
                        {#NewEntries Here!!#}
                    </div>
                </div>
                {% if userLogged %}
                <p style="bottom: 5%">
                <center><a href="{{ constant('URL') ~ 'users/detail/' ~ userLogged.id ~ '?tab=entries' }}"
                           class="button large primary">Post my entry</a></center></p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".truncate").each(function () {
                var text = this.innerHTML;
                if (text.length > 180) {
                    text = text.substring(0, 180);
                    text = text.replace(/\w+$/, '');
                    text += '<a href="#" ' +
                    'onclick="this.parentNode.innerHTML=' +
                    'unescape(\'' + escape(this.innerHTML) + '\');return false;">' +
                    '...<\/a>';
                    this.innerHTML = text;
                }
            });
            $.post("{{ constant('URL')}}phrases/getAllCategory").done(
                    function (data) {
                        data = JSON.parse(data);
                        for (var i = 0; i < data.length; i++) {
                            $("#message-category").append('<option value = "' + data[i].id + '">' + data[i].cname + '</option>');
                        }
                    }
            );
            {% if userLogged %}
            $("#post-message").on('click', function () {
                var cateId = $("#message-category").val();
                $.post("{{ constant('URL') }}/phrases/addPhrase", {
                    'phrase': $("#txt-new-phrase").val(),
                    'category': cateId
                }).done(function (data) {
                    if (data) {
                        //location.reload();
                        $.post("{{ constant('URL') }}phrases/getFriendPhrase",
                                {
                                    'id': {{ userLogged.id }},
                                    'cateId': cateId
                                }).done(function (data) {
                                    data = JSON.parse(data);
                                    var l = data.length;
                                    for (var i = 0; i < l; i++) {
                                        $("#newStory").append('<div>' +
                                        '<a style="float: left"' +
                                        'href="{{ constant('URL') ~ 'users/detail/'}}' + data[i].friendId + '"> <img ' +
                                        'src="{{ constant('URL') }}public/img/avatars/thumbs/' + data[i].imageUrl + '"' +
                                        'class="cycle polaroid" style="width: 60px; height: 60px;"></a>' +
                                        '</div>');
                                        $("#newStory").append('<p style="font-size: 9px; margin-left: 0px; color: #ffffff;margin-top: 5px">'
                                        + '<a style="color: #a20025; font-size: 9px; display: block; clear: both; margin-top: -25px" href="{{ constant("URL") }}users/detail/' + data[i].friendId
                                        + '"><strong>' + data[i].fullname + '</strong></a>say: </p><p><u>"' + data[i].content + '"</u></p>');
                                    }
                                });
                    }
                    else
                        alert('Can not post your message');
                })
            });
            {% endif %}
            function ajaxload(element, url) {
                $("#" + element).load(url, function (response, status) {
                    if (status == 'success') {
                        $(this).html('');
                        $(this).html(response);
                    }
                    else {
                        $(this).html('Connection error');
                    }
                });
            }

            ajaxload('new-entries', '{{ constant('URL') }}home/newEntries');
        });

    </script>
{% endblock %}